<%# <%= image_tag(@potion.image_url) %>

<h2>Potion Name</h2>
<h3><%@potion.name%></h3>

<h2>Potion Heal Amount</h2>
<h2><%@potion.heal_amount%></h2>

<%= link_to "Go To Merchant", merchant_path %><br>