<h2><%=@user.name%></h2>
<% @game.characters.each do |character| %>
  <%= link_to "#{character.name}", user_character_path(character) %>
<%end%>

<h3>Create New Character</h3>
<%= link_to "New Character", new_user_character_path %>
